*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}
body{
    background-color: gray;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
header{
    width: 90%;
    background-color: yellow;
    margin: 5px auto;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    width: 90%;
    height: 64vh;
    margin: 5px auto;
    display: flex;
    gap: 2vh;
}
div article{
    width: 70%;
    background-color: orangered;
    display: flex;
    justify-content: center;
}
div aside{
    width: 30%;
    background-color: rgb(65, 201, 155);
    display: flex;
    justify-content: center;
}
footer{
    width: 90%;
    background-color: yellow;
    margin: 5px auto;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}